{% extends 'customer/customerbase.html' %}
{% load widget_tweaks %} 
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a:link {
      text-decoration: none;
    }
  </style>
</head>
<h2 style="text-align: center">CLAIM POLICY</h2>
<form method="POST" autocomplete="off" style="margin: 100px; margin-top: 0px">
  {%csrf_token%}
  <div class="form-group">
    <label for="course_name">Mobile Number </label>
    {% render_field claim_form.mobile_no class="form-control" placeholder="Mobile Number" %}

    <label for="course_name">Accident Place </label>
    {% render_field claim_form.place class="form-control" placeholder="Place" %}
    <label for="course_name">Accident Date </label>
    {% render_field claim_form.date class="form-control" placeholder="Date" %}
    <label for="course_name">Owner / policy name</label>
    {% render_field claim_form.policy_name class="form-control" placeholder="Policy Name" %}
    <br />
    <label for="course_name">Damage part In details</label>
    {% render_field claim_form.discr class="form-control" placeholder="Details"%}
	{% render_field claim_form.customer_id class="form-control" style="display:none" value=customer placeholder="Details"%}
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Claim</button>
</form>
<br /><br />
<p style="margin-left: 30%; color: red">
  For any Query related claims Contact : +(020)-784561
</p>
<br /><br />

{% endblock content %}
